<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Busqueda de médicos</h1>
    <p class="lead">Elija la especialidad a atender.</p>
</div>
<div class="row justify-content-center">
    <div class="form-row align-items-center">
        <div class="col-auto my-2">
            <label for="inlineFormCustomSelect">Especialidad</label>
        </div>
        <div class="col-auto my-10">
            <select class="custom-select" #especialidad id="inlineFormCustomSelect" (change)="onChange($event.target.value)">
                <option selected>Elija</option>
                <option *ngFor="let especialidad of especialidades; let i = index" [value]="especialidad.id" >
                    {{especialidad.nombre}}
                </option>
          </select>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary" (click)="searchAndRedirect()">Buscar</button>
        </div>
    </div>
</div>