<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Medicos Disponibles</h1>
    <p class="lead"></p>
</div>
<div class="row text-center" *ngFor="let medico of medicos; let i= index">
    <div class="row col-md-4 d-flex align-items-center">
        <div class="col-md-4">
            <img src="assets/no-image.jpg" height="150px">
        </div>
        <div class="col-md-4">
            <label>Dr. {{ medico.nombres }} {{ medico.apellidoPaterno }}</label>
            <label>{{ medico.especialidadByIdEspecialidad.nombre | uppercase  }}</label>
        </div>
        <div class="col-md-4">
            <img src="assets/row-left.png" height="45px">
        </div>
    </div>
    <div class="col-md-8">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Hoy</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary" (click)="reservar(medico, 'TODAY')">Reservar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mañana</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary" (click)="reservar(medico, 'TOMORROW')">Reservar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{dayAfterTomorrow | date: 'dd/MM/yyyy'}}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary" (click)="reservar(medico, 'OTHER')">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!--<div class="row text-center">
    <div class="row col-md-4 d-flex align-items-center">
        <div class="col-md-4">
            <img src="assets/no-image.jpg" height="150px">
        </div>
        <div class="col-md-4">
            <label>Dr. Jose Luis Perez</label>
            <label>PSICOLOGIA</label>
        </div>
        <div class="col-md-4">
            <img src="assets/row-left.png" height="45px">
        </div>
    </div>
    <div class="col-md-8">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Hoy</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Reservar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mañana</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Reservar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">10/09/2020</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="row col-md-4 d-flex align-items-center">
        <div class="col-md-4">
            <img src="assets/no-image.jpg" height="150px">
        </div>
        <div class="col-md-4">
            <label>Dr. Juan Perez</label>
            <label>PSICOLOGIA</label>
        </div>
        <div class="col-md-4">
            <img src="assets/row-left.png" height="45px">
        </div>
    </div>
    <div class="col-md-8">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Hoy</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Reservar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mañana</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Reservar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">10/09/2020</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>De: 09:00</li>
                        <li>A : 16:00</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>-->