<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Registro de Paciente</h2>

        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-8 order-md-1">
                <form class="needs-validation" novalidate="" [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="apellidos" class="col-sm-2 col-form-label">Apellidos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombres" formControlName="nombres">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="celular" class="col-sm-2 col-form-label">Telefono Movil</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="celular" formControlName="telefono">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Correo Eléctronico</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" formControlName="correo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" formControlName="password">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-3 mb-3">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>
                        </div>
                    </div>
                    <hr class="mb-4">
                </form>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 mb-3">
                        <p>¿Ya tienes una cuenta? <a href="#">Inicia sesión aqui</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>