<div class="container">
    <div class="py-5 text-center">
        <h2>Iniciar Sesión</h2>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form-signin">

                <div class="form-label-group">
                    <input type="email" [(ngModel)]="user.user" id="inputEmail" class="form-control" placeholder="Correo electronico" required="" autofocus="">
                </div>
                <br>
                <div class="form-label-group">
                    <input type="password" [(ngModel)]="user.password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
                </div>

                <div class="checkbox mb-3">
                </div>
                <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit">
                    <i *ngIf="loading"  class="fa fa-spinner fa-spin"></i>
                    Ingresar</button>
            </div>
        </div>
    </div>
</div>